@import "normalize";
@import "skeleton";
@import "leaflet";

$green: #389e46;

// who knows how well this works
// http://davidwalsh.name/write-media-queries-sass
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin phone-landscape {
  @media (max-width: #{$tablet-width - 1px}) and (orientation: landscape) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin tablet-desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
    padding: 0 0 20px;
}

#map {
    height: 500px;
    margin-bottom: 30px;
}

@include phone {
    #map {
        height: 450px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: -2;
        .leaflet-control-container {
            display: none;
        }
    }
    .map-separator {
        margin-top: 400px;
        width: 100%;
        margin-left: -20px;
        margin-right: 40px;
        position: relative;
        height: 10px;
    }
    .content-wrapper {
        background: #fff;
        margin-left: -20px;
        margin-right: -20px;
        padding: 0 20px;
    }
    body {
        background: rgb(234,233,233);
    }
    .after-map {
        height: 100px;
        top: 350px;
        width: 100%;
        position: fixed;
        display: block;
        margin: 0;
        padding: 0;
        left: 0;
        z-index: -1;
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgb(234,233,233));
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgb(234,233,233));
    }
}

@include phone-landscape {
    #map {
        height: 300px;
    }
    .map-separator {
        margin-top: 250px;
    }
    .after-map {
        top: 200px;
    }
}

.parks-list {
    .parks-list-header {
        @include phone {
            display: none;
        }
    }
    .park-name {
        font-weight: 600;
    }
    .park-count {
        color: $green;
        text-align: center;
    }
    .park-distance {
        text-align: left;
        @include tablet-desktop {
            text-align: right;
        }
    }
}

.park-feature-list {
    .feature-list-item {
        .feature-name .name {
            font-weight: 600;
        }
        .feature-status {
            @include tablet-desktop {
                text-align: right;
            }
        }
        .feature-icon {
            img {
                height: 18px;
                width: 18px;
            }
            float: left;
            display: inline;
            width: auto;
            background: red;
            position: relative;
        }
    }
}

.park-filters {
    text-align: center;
    select {
        margin-bottom: 10px;
    }
    .filter-icons {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .icon {
        border: 1px solid rgb(81,168,93);
        padding: 0 5px;
        border-radius: 5px;
        img {
            vertical-align: middle;
            height: 24px;
            width: 24px;
        }
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.nav {
    padding-top: 20px;
    text-align: center;
    @include phone {
        display: none;
    }
}

.filters {
    text-align: center;
    select {
        margin-left: 10px;
    }
}

.logo {
    margin-bottom: 10px;
    display: block;
    img {
        height: 30px;
    }
}

.address {
    text-align: right;
}

a, .u-clickable {
    cursor: pointer;
    &:hover {
        color: $green;
    }
}
