@import "normalize";
@import "leaflet";

html, body { height: 100%; margin: 0; padding: 0;}

#map-wrapper {
    position: absolute;
    width: 100%;
    top: 45px;
    margin-top: 0;
    bottom: 0;
}
#map {
    position: relative;
    height: 100%;
}
