$green: #389e46;
$green1: $green;
$green2: rgb(85,192,95);
$green3: rgb(101,227,112);
$gray1: rgb(74,76,73);
$gray2: rgb(108,112,108);
$gray3: rgb(143,149,142);
$gray4: rgb(178,185,177);
$gray5: rgb(180,194,181);
$gray-border: rgb(213,212,212);

/* Lib Theming */
@import "slick-theme";
